#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tooltip {
    position: absolute;
    background-color: #f3f3f3;
    padding: 5px;
}

#treemap {
    font-size: 11px;
}

#legend{
    font-size: 12px;
    text-align: center;
    display: block;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.dataset:hover {
    cursor: pointer;
}